#!/bin/sh

kiosk_page="http://localhost:{{ kiosk_port }}"

while true; do
{% if ansible_facts['distribution_major_version'] | int >= 9 %}
	/usr/bin/firefox --kiosk "$kiosk_page"
{% else %}
	/usr/bin/firefox --kiosk "$kiosk_page" --display=:0
{% endif %}
	sleep 1
done
